.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.derived/
*.xcresult
*.xcuserstate
*.xccheckout
*.xcscmblueprint
build/
Build/
dist/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
